/* font-family: 'Press Start 2P', cursive;
font-family: 'Frijole', cursive; */

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

@font-face {
    font-family: 'MaroonedOnMarsBB';
    src: url('../../dist/fonts/MaroonedOnMarsBB.ttf')
}

html{
    height: 100%;
    /* overflow: hidden; */
}
body{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    position: relative;
    background-image: url('../../src/assets/purple.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.game-container{
    display: flex;
    /* width: 100%; */
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

}


canvas {
    margin-top: 0;
    position: relative;
}

#getUserInput{
    display: flex;
    position: absolute;
    transform: translate(0px, 250px);
    width: 380px;
    height: 50px;
    outline: none;
    border: none;
}

#userInput{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Frijole', cursive;
    caret-color: transparent;
}

#userInput:focus{
    outline: none;

}

#userInput:hover{
    cursor: auto;
}



.title-text{
    color: white;
    margin-top: 185px;
    font-family: 'Frijole', cursive;
    font-size: 45px;
    display: inline-block;


}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 10000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.splashpage{
    background: url('../../src/assets/gameanimation2.gif');
    background-repeat: no-repeat;

    height: 480px;
    width: 800px;
    /* z-index: 2; */
    position: absolute;
    z-index: 2;
    top: 287px;
    display: flex;
}

.splashpage-topper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: "Frijole", cursive;
    font-size: 15px;

}

.leaderboard-container{
    display: flex;
    flex-direction: column;
    font-family: "Frijole", cursive;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    position: absolute;
    right: -280px;
    top: 265px
}
#leaderboard-stats{
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    transform: translate(0, -40px);


}

.leaderboard-stat-single{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;

}

.leaderboard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

}

.leaderboard-stats-container{
    display: flex;
    transform: translate(0, -40px);
}
.leaderboard-stat-single h3{
    width: 50px;
}